@charset "UTF-8";
/* line 5, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
html {
  background: #264670;
  position: relative;
}

/* line 22, ../sass/screen.scss */
body {
  background: white;
  overflow: auto;
}

/* line 26, ../sass/screen.scss */
.container {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/screen.scss */
body * {
  font-family: '微軟正黑體';
}

/* line 39, ../sass/screen.scss */
input:focus {
  outline: none;
}

/* line 42, ../sass/screen.scss */
.page {
  width: 100%;
  min-width: 240px;
  position: relative;
  padding-top: 50px;
}

/* line 49, ../sass/screen.scss */
.station-info img, .station-select-map img, .mrt-route-map img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 56, ../sass/screen.scss */
.station-info img {
  box-sizing: border-box;
  box-shadow: 0 0 5px #CCC;
  border: 1px solid #AAA;
  max-width: calc(95% - 1px);
}
/* line 61, ../sass/screen.scss */
.station-info img[src=""] {
  display: none;
}

/* line 66, ../sass/screen.scss */
header {
  overflow: hidden;
  *zoom: 1;
  transition: background-color 0.3s ease-out;
  padding-top: 8px;
  background-color: #396aa9;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  min-width: 240px;
}
/* line 77, ../sass/screen.scss */
.searching header {
  background-color: #5183c4;
}
/* line 79, ../sass/screen.scss */
.searching header ~ .aside-suggest, .searching header ~ .station-select-map {
  display: block;
}
/* line 84, ../sass/screen.scss */
header:after {
  display: block;
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  border-color: transparent transparent white transparent;
  border-width: 5px;
  border-style: solid;
  bottom: -20px;
  opacity: 0;
  transition: left 0.3s ease-out, opacity 0.3s ease-out;
}
/* line 96, ../sass/screen.scss */
header.assign-from:after {
  opacity: 1;
  left: calc(5% + 36px);
  bottom: 0px;
}
/* line 101, ../sass/screen.scss */
header.assign-to:after {
  opacity: 1;
  left: calc(50% + 36px);
  bottom: 0px;
}

/* line 107, ../sass/screen.scss */
.search-text {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: calc(100% - 24px);
  min-width: 168px;
  display: inline-block;
  width: 100%;
  letter-spacing: 0;
}
/* line 114, ../sass/screen.scss */
.search-text:empty {
  display: none;
}

/* line 118, ../sass/screen.scss */
.aside-suggest {
  display: none;
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 44px;
  box-shadow: 0 3px 3px white;
}
/* line 125, ../sass/screen.scss */
.aside-suggest:before, .aside-suggest:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 133, ../sass/screen.scss */
.aside-suggest:before {
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}
/* line 137, ../sass/screen.scss */
.aside-suggest:after {
  right: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}

/* line 142, ../sass/screen.scss */
.suggest-stations {
  background-color: white;
  padding: 10px 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  box-sizing: border-box;
}
/* line 150, ../sass/screen.scss */
.suggest-stations li {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
}
/* line 160, ../sass/screen.scss */
.suggest-stations li:hover {
  position: relative;
  top: -2px;
}

/* line 166, ../sass/screen.scss */
.near-suggest {
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 44px;
  box-shadow: 0 3px 3px white;
}
/* line 172, ../sass/screen.scss */
.near-suggest:empty {
  display: none;
}
/* line 175, ../sass/screen.scss */
.near-suggest:before, .near-suggest:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
/* line 183, ../sass/screen.scss */
.near-suggest:before {
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}
/* line 187, ../sass/screen.scss */
.near-suggest:after {
  right: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}

/* line 193, ../sass/screen.scss */
.near-stations {
  background-color: white;
  padding: 10px 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  box-sizing: border-box;
}
/* line 201, ../sass/screen.scss */
.near-stations .near-item {
  display: inline-block;
  margin: 0 10px 0 5px;
  position: relative;
}
/* line 206, ../sass/screen.scss */
.near-stations label {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0 3px;
  border-radius: 3px;
  color: white;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  margin-right: 16px;
}
/* line 215, ../sass/screen.scss */
.near-stations .result-time, .near-stations .result-price {
  display: inline-block;
  width: 1em;
  margin: 0 1em 0 2px;
  transform: scale(0.7);
  position: absolute;
  right: -1.1em;
}
/* line 223, ../sass/screen.scss */
.near-stations .result-time {
  transform-origin: 0 0;
  top: -3px;
}
/* line 227, ../sass/screen.scss */
.near-stations .result-price {
  transform-origin: 0 100%;
  bottom: -3px;
}

/* line 232, ../sass/screen.scss */
.query-result {
  margin-top: 2em;
}
/* line 234, ../sass/screen.scss */
.searching .query-result, .initializing .query-result {
  display: none;
}

/* line 238, ../sass/screen.scss */
.init-tips {
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
  display: none;
}
/* line 241, ../sass/screen.scss */
.initializing .init-tips {
  display: block;
}
/* line 244, ../sass/screen.scss */
.searching .init-tips {
  display: none;
}

/* line 248, ../sass/screen.scss */
.tips1 {
  background-image: url("../images/arrow1.png");
  background-repeat: no-repeat;
  color: #333;
  font-size: 1.8em;
  height: 75px;
  letter-spacing: 3px;
  line-height: 4.5em;
  text-indent: 75px;
  transform: scale(0.5) rotate(3deg) translate(0px, -9px);
  transform-origin: 0 0 0;
  position: absolute;
  left: 0;
  top: 50px;
  opacity: 0.6;
}

/* line 263, ../sass/screen.scss */
.tips2 {
  background-image: url("../images/arrow2.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: blue;
  font-size: 2em;
  font-weight: bold;
  height: 75px;
  letter-spacing: 3px;
  line-height: 4.5em;
  padding-right: 75px;
  text-align: right;
  transform: scale(0.5) rotate(-5deg) translate(-25px, -9px);
  transform-origin: 100% 0 0;
  width: 370px;
  position: absolute;
  right: 0;
  top: 50px;
}

/* line 281, ../sass/screen.scss */
.tips3 {
  text-align: center;
  background-image: url("../images/maintips.png");
  background-repeat: no-repeat;
  background-position: center 1.2em;
  height: 360px;
  margin-top: 70px;
  font-size: 1.2em;
  color: navy;
  text-shadow: 0 1px 0 #DDD;
  letter-spacing: 3px;
}
@media screen and (max-width: 350px) {
  /* line 281, ../sass/screen.scss */
  .tips3 {
    line-height: 1.4em;
    letter-spacing: 0;
    background-size: contain;
    background-position: center 30%;
  }
}
@media screen and (min-width: 600px) {
  /* line 281, ../sass/screen.scss */
  .tips3 {
    margin-top: 20px;
  }
}

/* line 302, ../sass/screen.scss */
.result-title {
  margin: 12px;
  font-size: 1.2em;
  text-align: center;
  transition: font-size 0.3s ease-out;
}
@media screen and (max-width: 320px) {
  /* line 302, ../sass/screen.scss */
  .result-title {
    font-size: 1em;
  }
}

/* line 311, ../sass/screen.scss */
.result-title em {
  color: white;
  padding: 3px;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
}

/* line 319, ../sass/screen.scss */
.result-title em[class="line4"],
.near-stations [class="line4"],
.suggest-stations [class="line4"] {
  color: black;
  text-shadow: 0 1px 0 white;
}

/* line 325, ../sass/screen.scss */
.line1 {
  background-color: #CC9900;
}

/* line 328, ../sass/screen.scss */
.line2 {
  background-color: #FD5B56;
}

/* line 331, ../sass/screen.scss */
.line3 {
  background-color: #009900;
}

/* line 334, ../sass/screen.scss */
.line4 {
  background-color: #FFCC66;
}

/* line 337, ../sass/screen.scss */
.line5 {
  background-color: #398AFC;
}

/* line 340, ../sass/screen.scss */
.line1.line2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZDViNTYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjOTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #fd5b56), color-stop(50%, #cc9900));
  background-image: -moz-linear-gradient(top, #fd5b56 50%, #cc9900 50%);
  background-image: -webkit-linear-gradient(top, #fd5b56 50%, #cc9900 50%);
  background-image: linear-gradient(to bottom, #fd5b56 50%, #cc9900 50%);
}

/* line 343, ../sass/screen.scss */
.line1.line3 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjOTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #009900), color-stop(50%, #cc9900));
  background-image: -moz-linear-gradient(top, #009900 50%, #cc9900 50%);
  background-image: -webkit-linear-gradient(top, #009900 50%, #cc9900 50%);
  background-image: linear-gradient(to bottom, #009900 50%, #cc9900 50%);
}

/* line 346, ../sass/screen.scss */
.line1.line5 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMzOThhZmMiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjOTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #398afc), color-stop(50%, #cc9900));
  background-image: -moz-linear-gradient(top, #398afc 50%, #cc9900 50%);
  background-image: -webkit-linear-gradient(top, #398afc 50%, #cc9900 50%);
  background-image: linear-gradient(to bottom, #398afc 50%, #cc9900 50%);
}

/* line 349, ../sass/screen.scss */
.line2.line3 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZDViNTYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #fd5b56), color-stop(50%, #009900));
  background-image: -moz-linear-gradient(top, #fd5b56 50%, #009900 50%);
  background-image: -webkit-linear-gradient(top, #fd5b56 50%, #009900 50%);
  background-image: linear-gradient(to bottom, #fd5b56 50%, #009900 50%);
}

/* line 352, ../sass/screen.scss */
.line2.line4 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZDViNTYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmY2M2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #fd5b56), color-stop(50%, #ffcc66));
  background-image: -moz-linear-gradient(top, #fd5b56 50%, #ffcc66 50%);
  background-image: -webkit-linear-gradient(top, #fd5b56 50%, #ffcc66 50%);
  background-image: linear-gradient(to bottom, #fd5b56 50%, #ffcc66 50%);
}

/* line 355, ../sass/screen.scss */
.line2.line5 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZDViNTYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM5OGFmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #fd5b56), color-stop(50%, #398afc));
  background-image: -moz-linear-gradient(top, #fd5b56 50%, #398afc 50%);
  background-image: -webkit-linear-gradient(top, #fd5b56 50%, #398afc 50%);
  background-image: linear-gradient(to bottom, #fd5b56 50%, #398afc 50%);
}

/* line 358, ../sass/screen.scss */
.line3.line4 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmY2M2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #009900), color-stop(50%, #ffcc66));
  background-image: -moz-linear-gradient(top, #009900 50%, #ffcc66 50%);
  background-image: -webkit-linear-gradient(top, #009900 50%, #ffcc66 50%);
  background-image: linear-gradient(to bottom, #009900 50%, #ffcc66 50%);
}

/* line 361, ../sass/screen.scss */
.line3.line5 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM5OGFmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #009900), color-stop(50%, #398afc));
  background-image: -moz-linear-gradient(top, #009900 50%, #398afc 50%);
  background-image: -webkit-linear-gradient(top, #009900 50%, #398afc 50%);
  background-image: linear-gradient(to bottom, #009900 50%, #398afc 50%);
}

/* line 364, ../sass/screen.scss */
.line4.line5 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmNjNjYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM5OGFmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ffcc66), color-stop(50%, #398afc));
  background-image: -moz-linear-gradient(top, #ffcc66 50%, #398afc 50%);
  background-image: -webkit-linear-gradient(top, #ffcc66 50%, #398afc 50%);
  background-image: linear-gradient(to bottom, #ffcc66 50%, #398afc 50%);
}

/* line 367, ../sass/screen.scss */
.station-select-map {
  display: none;
  margin-top: 36px;
}

/* line 371, ../sass/screen.scss */
.header-text {
  float: left;
  margin: 8px;
  font-size: 18px;
  letter-spacing: 2px;
  max-width: calc(100% - 96px);
}
/* line 377, ../sass/screen.scss */
.searching header .header-text {
  display: none;
}

/* line 381, ../sass/screen.scss */
.btn-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 19.2px;
  text-align: center;
  line-height: 24px;
  text-shadow: 1px 0 0 navy;
  vertical-align: top;
}
/* line 389, ../sass/screen.scss */
.btn-icon.btn-search, .btn-icon.btn-setting, .btn-icon.btn-speech {
  margin: 6px;
}
/* line 392, ../sass/screen.scss */
.btn-icon label {
  display: none;
}
/* line 395, ../sass/screen.scss */
.btn-icon.btn-search, .btn-icon.btn-speech {
  float: right;
}
/* line 398, ../sass/screen.scss */
.btn-icon.btn-setting {
  float: left;
}

/* line 403, ../sass/screen.scss */
.btn-speech.btn-icon {
  display: none;
}
/* line 405, ../sass/screen.scss */
.searching .btn-speech.btn-icon {
  display: inline-block;
}

/* line 410, ../sass/screen.scss */
.searching header .btn-search {
  text-shadow: 0 0 3px #FFC;
}

/* line 413, ../sass/screen.scss */
form {
  overflow: hidden;
  *zoom: 1;
  margin: 2px 0;
  display: none;
}
/* line 417, ../sass/screen.scss */
.searching header form {
  display: block;
}

/* line 421, ../sass/screen.scss */
.query-input {
  width: 100%;
  position: relative;
  float: left;
  margin: 4px;
  box-sizing: border-box;
}
/* line 427, ../sass/screen.scss */
.query-input .btn-icon {
  font-size: 14.4px;
  color: #63CCAE;
  text-shadow: 1px 0 0 #25715b;
}

/* line 433, ../sass/screen.scss */
.station {
  width: calc(50% - 32px);
  margin: 0;
  padding: 2px;
  height: 24px;
  font-size: 16.8px;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  color: white;
  background: transparent;
}
/* line 445, ../sass/screen.scss */
.station:focus {
  box-shadow: 0 3px 3px -3px #9db9de;
  border-color: white;
}

/* line 450, ../sass/screen.scss */
.btn-exchange {
  margin: 0 12px;
}

/* line 454, ../sass/screen.scss */
.station.station-to::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

/* line 459, ../sass/screen.scss */
.station.station-to::-webkit-input-placeholder, .station.station-to:-moz-placeholder, .station.station-to:-ms-input-placeholder, .station.station-to::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

/* line 466, ../sass/screen.scss */
#btn-query-submit {
  display: none;
}

/* line 469, ../sass/screen.scss */
.btn-query {
  width: 50px;
  margin: 0;
  padding: 0;
  border: 1px solid navy;
  background-color: #35B5FF;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 1em;
}

/* line 478, ../sass/screen.scss */
.route-between-result {
  overflow: hidden;
  *zoom: 1;
}
/* line 479, ../sass/screen.scss */
.route-between-result.collapsed {
  display: none;
}
/* line 484, ../sass/screen.scss */
.route-between-result .time label, .route-between-result .price label, .route-between-result .routing-tips label {
  color: gray;
}

/* line 489, ../sass/screen.scss */
.time, .price {
  float: left;
  width: 40%;
  box-sizing: border-box;
  margin: 5%;
  text-align: center;
}
@media screen and (min-width: 500px) {
  /* line 489, ../sass/screen.scss */
  .time, .price {
    width: 20%;
    margin: 3% 0.2%;
  }
}
/* line 498, ../sass/screen.scss */
.time em, .price em {
  font-size: 4em;
  position: relative;
  display: block;
}
/* line 502, ../sass/screen.scss */
.time em:after, .price em:after {
  font-size: 10px;
  position: absolute;
  float: right;
  bottom: 1em;
}

/* line 510, ../sass/screen.scss */
.time em:after {
  content: '分';
}

/* line 513, ../sass/screen.scss */
.price em:after {
  content: '元';
}

/* line 516, ../sass/screen.scss */
.routing-tips {
  float: left;
  width: 80%;
  margin: 2% 10%;
}
@media screen and (min-width: 500px) {
  /* line 516, ../sass/screen.scss */
  .routing-tips {
    width: 50%;
    margin: 3% 1.8%;
  }
}
/* line 522, ../sass/screen.scss */
.routing-tips p {
  padding: 3%;
  line-height: 1.6em;
}

/* line 527, ../sass/screen.scss */
.route-all-result {
  margin-bottom: 2em;
}
/* line 530, ../sass/screen.scss */
.route-all-result.collapsed .result-title {
  margin: 0;
  transform: scale(0.8);
  opacity: 0.5;
}
/* line 534, ../sass/screen.scss */
.route-all-result.collapsed .result-title:after {
  content: ' (展開)';
  color: gray;
}
/* line 539, ../sass/screen.scss */
.route-all-result.collapsed .route-pages-tab, .route-all-result.collapsed .route-page {
  display: none;
}

/* line 556, ../sass/screen.scss */
.route-pages-tab {
  margin: 1.2em 0;
  text-align: center;
}
@media screen and (max-width: 400px) {
  /* line 556, ../sass/screen.scss */
  .route-pages-tab {
    margin-top: 0.5em;
  }
}
/* line 562, ../sass/screen.scss */
.route-pages-tab li {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  color: white;
  text-shadow: 0 -1px 0 black;
  padding: 3px;
  border-radius: 2px;
  font-weight: bold;
  margin: 3px;
  text-align: center;
  box-sizeing: border-box;
}
@media screen and (max-width: 400px) {
  /* line 562, ../sass/screen.scss */
  .route-pages-tab li {
    border-radius: 1em;
    width: calc(12% - 1.2em);
  }
  /* line 576, ../sass/screen.scss */
  .route-pages-tab li label {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  /* line 562, ../sass/screen.scss */
  .route-pages-tab li {
    width: 1.2em;
    margin: 0;
  }
}
/* line 585, ../sass/screen.scss */
.route-pages-tab .route-all {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNjYzk5MDAiLz48c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2ZkNWI1NiIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjZmQ1YjU2Ii8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwOTkwMCIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZjYzY2Ii8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNmZmNjNjYiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzM5OGFmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM5OGFmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #cc9900), color-stop(20%, #fd5b56), color-stop(40%, #fd5b56), color-stop(40%, #009900), color-stop(60%, #009900), color-stop(60%, #ffcc66), color-stop(80%, #ffcc66), color-stop(80%, #398afc), color-stop(100%, #398afc));
  background-image: -moz-linear-gradient(top, #cc9900 20%, #fd5b56 20%, #fd5b56 40%, #009900 40%, #009900 60%, #ffcc66 60%, #ffcc66 80%, #398afc 80%, #398afc 100%);
  background-image: -webkit-linear-gradient(top, #cc9900 20%, #fd5b56 20%, #fd5b56 40%, #009900 40%, #009900 60%, #ffcc66 60%, #ffcc66 80%, #398afc 80%, #398afc 100%);
  background-image: linear-gradient(to bottom, #cc9900 20%, #fd5b56 20%, #fd5b56 40%, #009900 40%, #009900 60%, #ffcc66 60%, #ffcc66 80%, #398afc 80%, #398afc 100%);
  background-color: #777;
  text-shadow: 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, -1px -1px 0 black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 546, ../sass/screen.scss */
.route-pages-tab .route-all.active {
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #777;
}
@media screen and (max-width: 400px) {
  /* line 550, ../sass/screen.scss */
  .route-pages-tab .route-all:before {
    content: "*";
    opacity: 0.5;
  }
}
/* line 592, ../sass/screen.scss */
.route-pages-tab .route-line1 {
  background-color: #CC9900;
}
/* line 546, ../sass/screen.scss */
.route-pages-tab .route-line1.active {
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #CC9900;
}
@media screen and (max-width: 400px) {
  /* line 550, ../sass/screen.scss */
  .route-pages-tab .route-line1:before {
    content: "1";
    opacity: 0.5;
  }
}
/* line 595, ../sass/screen.scss */
.route-pages-tab .route-line2 {
  background-color: #FD5B56;
}
/* line 546, ../sass/screen.scss */
.route-pages-tab .route-line2.active {
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #FD5B56;
}
@media screen and (max-width: 400px) {
  /* line 550, ../sass/screen.scss */
  .route-pages-tab .route-line2:before {
    content: "2";
    opacity: 0.5;
  }
}
/* line 598, ../sass/screen.scss */
.route-pages-tab .route-line3 {
  background-color: #009900;
}
/* line 546, ../sass/screen.scss */
.route-pages-tab .route-line3.active {
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #009900;
}
@media screen and (max-width: 400px) {
  /* line 550, ../sass/screen.scss */
  .route-pages-tab .route-line3:before {
    content: "3";
    opacity: 0.5;
  }
}
/* line 601, ../sass/screen.scss */
.route-pages-tab .route-line4 {
  color: black;
  text-shadow: 0 -1px 0 white;
  background-color: #FFCC66;
}
/* line 546, ../sass/screen.scss */
.route-pages-tab .route-line4.active {
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #FFCC66;
}
@media screen and (max-width: 400px) {
  /* line 550, ../sass/screen.scss */
  .route-pages-tab .route-line4:before {
    content: "4";
    opacity: 0.5;
  }
}
/* line 606, ../sass/screen.scss */
.route-pages-tab .route-line5 {
  background-color: #398AFC;
}
/* line 546, ../sass/screen.scss */
.route-pages-tab .route-line5.active {
  box-shadow: 0 0 0 1px white, 0 0 2px 2px #398AFC;
}
@media screen and (max-width: 400px) {
  /* line 550, ../sass/screen.scss */
  .route-pages-tab .route-line5:before {
    content: "5";
    opacity: 0.5;
  }
}

/* line 610, ../sass/screen.scss */
#route-page-all.collapsed {
  display: none;
}

/* line 613, ../sass/screen.scss */
#route-page-line1, #route-page-line2, #route-page-line3, #route-page-line4, #route-page-line5 {
  overflow: hidden;
  *zoom: 1;
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  vertical-align: top;
}
@media screen and (max-width: 400px) {
  /* line 613, ../sass/screen.scss */
  #route-page-line1, #route-page-line2, #route-page-line3, #route-page-line4, #route-page-line5 {
    width: 90%;
  }
}
/* line 622, ../sass/screen.scss */
#route-page-line1.collapsed, #route-page-line2.collapsed, #route-page-line3.collapsed, #route-page-line4.collapsed, #route-page-line5.collapsed {
  display: none;
}

/* line 626, ../sass/screen.scss */
.table {
  display: table;
  width: 100%;
  position: relative;
}

/* line 631, ../sass/screen.scss */
.tr {
  display: table-row;
}
/* line 633, ../sass/screen.scss */
.tr:nth-child(odd) {
  background: #F5F5F5;
}
/* line 636, ../sass/screen.scss */
.tr:hover {
  background: #FFD;
}

/* line 640, ../sass/screen.scss */
.td {
  display: table-cell;
  height: 1.6em;
  padding: 5px;
  line-height: 2em;
}
@media screen and (max-width: 430px) {
  /* line 640, ../sass/screen.scss */
  .td {
    line-height: 1.6em;
  }
}

/* line 649, ../sass/screen.scss */
.result-name {
  width: 40%;
}
/* line 651, ../sass/screen.scss */
.result-name label {
  margin: 3px;
  padding: 3px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-shadow: 0 -1px 0 black;
}
@media screen and (max-width: 430px) {
  /* line 651, ../sass/screen.scss */
  .result-name label {
    font-size: 1em;
  }
}
/* line 661, ../sass/screen.scss */
#route-page-line4 .result-name label {
  color: black;
  text-shadow: 0 -1px 0 white;
}
@media screen and (max-width: 340px) {
  /* line 649, ../sass/screen.scss */
  .result-name {
    width: 64%;
  }
  /* line 668, ../sass/screen.scss */
  .result-name label {
    font-size: 1em;
  }
}

/* line 673, ../sass/screen.scss */
.result-time, .result-price {
  text-align: center;
  width: 30%;
  position: relative;
}
/* line 677, ../sass/screen.scss */
.result-time:after, .result-price:after {
  position: absolute;
  bottom: -0.2em;
  left: calc(50% + 1em);
  font-size: 0.6em;
  color: gray;
}
@media screen and (max-width: 340px) {
  /* line 673, ../sass/screen.scss */
  .result-time, .result-price {
    width: 18%;
  }
}

/* line 703, ../sass/screen.scss */
.station-countdown {
  width: 100%;
  position: relative;
}

/* line 707, ../sass/screen.scss */
.countdown-lines {
  padding-left: 20%;
  padding-top: 10px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 712, ../sass/screen.scss */
.countdown-lines [class^="countdown-"] {
  position: relative;
  margin-bottom: 0.3em;
}
/* line 715, ../sass/screen.scss */
.countdown-lines [class^="countdown-"]:empty {
  display: none;
}
/* line 689, ../sass/screen.scss */
.countdown-lines [class^="countdown-"].countdown-br:after {
  content: "文湖線";
  background-color: #CC9900;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  position: absolute;
  left: -4.5em;
  top: -0.2em;
}
/* line 689, ../sass/screen.scss */
.countdown-lines [class^="countdown-"].countdown-r:after {
  content: "淡水線";
  background-color: #FD5B56;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  position: absolute;
  left: -4.5em;
  top: -0.2em;
}
/* line 689, ../sass/screen.scss */
.countdown-lines [class^="countdown-"].countdown-g:after {
  content: "松山線";
  background-color: #009900;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  position: absolute;
  left: -4.5em;
  top: -0.2em;
}
/* line 689, ../sass/screen.scss */
.countdown-lines [class^="countdown-"].countdown-o:after {
  content: "中和線";
  background-color: #FFCC66;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  position: absolute;
  left: -4.5em;
  top: -0.2em;
}
/* line 729, ../sass/screen.scss */
.countdown-lines [class^="countdown-"].countdown-o:after {
  color: black;
  text-shadow: 0 -1px 0 white;
}
/* line 689, ../sass/screen.scss */
.countdown-lines [class^="countdown-"].countdown-bl:after {
  content: "板南線";
  background-color: #398AFC;
  margin: 0 5px;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  position: absolute;
  left: -4.5em;
  top: -0.2em;
}
/* line 737, ../sass/screen.scss */
.countdown-lines [class^="countdown-"] em {
  display: inline-block;
  width: 6em;
  text-align: center;
  vertical-align: middle;
  float: right;
}

/* line 746, ../sass/screen.scss */
.countdown-item {
  display: inline-block;
  margin: 0.3em;
  width: 80%;
  border-bottom: 1px dashed gray;
}
@media screen and (min-width: 600px) {
  /* line 746, ../sass/screen.scss */
  .countdown-item {
    width: 40%;
  }
}

/* line 755, ../sass/screen.scss */
.result-time:after {
  content: '分';
}

/* line 758, ../sass/screen.scss */
.result-price:after {
  content: '元';
}

/* line 761, ../sass/screen.scss */
.social-link {
  margin-top: 20px;
  padding: 10px;
}

/* line 765, ../sass/screen.scss */
footer {
  background: #264670;
  color: #bbb;
  margin: 0;
  padding: 5px;
  box-shadow: 0 5px 5px -5px #333 inset;
}
/* line 771, ../sass/screen.scss */
footer p {
  line-height: 1.4em;
  font-size: 12px;
  margin-top: 0.4em;
}
/* line 772, ../sass/screen.scss */
footer p:first-child {
  font-size: 14px;
  color: #DDD;
}
/* line 780, ../sass/screen.scss */
footer a {
  color: white;
}
